

<!--<div class="vid-container" ng-controller="VideoController as v">
    <h2>Video from youtube</h2>
    <video id="vid_frame" controls controlsList="nodownload" src="{{'/apiVideo/streamYoutube/'+v.searchTitle}}" type="video/mp4" frameborder="0" width="560" height="275"></video>
    <h2>Video from vimeo</h2>
    <video id="vid_frame2" controls controlsList="nodownload" src="{{'/apiVideo/streamVimeo/'+v.searchTitle}}" type="video/mp4" frameborder="0" width="560" height="275"></video>

</div>-->

<div class="vid-container">
    <h3>{{video.title}}</h3>
    <video id="vid_frame" controls controlsList="nodownload" src="{{'/apiVideo/watchYoutubeVideo/'+video.url}}" type="video/mp4" frameborder="0" width="560" height="275"></video>
</div>