<div class="container" ng-controller="UserCreateController as user">
    <div class="row">
        <div class="col-sm-5 col-md-4 col-md-offset-4">
            <h2>Signup</h2>
            <form class="form-signin" method="post" ng-submit="user.signupUser()">
                Name <input type="text" class="form-control" name="name" ng-model="user.userData.name">
                Username <input type="text" class="form-control" name="username" ng-model="user.userData.username">
                Password <input type="password" class="form-control" name="password" ng-model="user.userData.password">
                <button type="submit" class="btn btn-danger">Signup</button>
            </form>
        </div>
    </div>
</div>